html, body {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, textarea{
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

